body {
  background-color: black;
  color: #999;
  margin: 0;
  font-family: sans-serif;
  
}

#app {
  background-color: #333;
  padding: 20px;
}

#app h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: #fc3;
}

.demo {
  width: 100px;
  height: 100px;
  background-color: grey;
  display: inline-block;
  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

